[Unit]
Description=Spotify box - VNC
Requires=local-xvfb.service

[Service]
ExecStart=/usr/bin/x11vnc -display :10 -nopw -rfbport 5910
User=spotify

[Install]
WantedBy=multi-user.target
