[Unit]
Description=Spotify box - Spotify app
Requires=local-xvfb.service

[Service]
Environment=DISPLAY=:10
ExecStart=/usr/bin/spotify.wrapper
User=spotify

[Install]
WantedBy=multi-user.target
